.CurrentWeather {
  padding: 0 1rem;
}
.CurrentWeather-container {
  display: flex;
  align-items: center;
}

.CurrentWeather-WindIcon {
  margin-left: 1.5rem;
}
.CurrentWeather-temperature {
  font-size: 3rem;
}
