.Weather {
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 6px -6px black;
}

.Weather-location {
  margin: 1rem;
  text-transform: capitalize;
}

.Weather-noLocation {
  margin: 1rem;
}

.Weather-PlaceNameContainer {
  display: flex;
}

.Weather-PlaceNameContainer button {
  margin-left: auto;
  margin-right: 1rem;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
